* {
    background-color: black;
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 25px;
    background-color: black;
    position: relative;
}


#logo {
    position: absolute;
    left: 12px;
}

#logo img {
    width: 20vw;
    height: 20vh;
    cursor: pointer;
}

.center-container {
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 500px;
    margin: 2em;
}

.search-box form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-box input[type="text"] {
    background-color: white;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    flex: 1;
    border-right: none;
    width: 100%;
}

.search-box button {
    background-color: #ff9900;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 24px;
    margin-left: -1px;
    padding: 2.5px 15px;
}

.custom-file-upload {
    background-color: #ff9900;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    padding: 1.5px 15px;
    /* Increase padding for better appearance */
    display: flex;
    align-items: center;
}

.custom-file-upload .material-icons {
    margin-right: 5px;
    background-color: inherit;
}

#language {
    background-color: inherit;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin-left: auto;

}

#options {
    background-color: #0f0f0f;
    color: rgb(224, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.options {
    background-color: #0f0f0f;
}

.options ul {
    display: flex;
    background-color: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
}

.options ul li {
    display: flex;
    margin: 0 50px;
    background-color: inherit;
    align-items: center;
    cursor: pointer;
}

.options ul li span,
.options ul li a {
    background-color: inherit;
    color: inherit;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}

.options ul li svg {
    fill: white;
    background-color: inherit;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}

.options ul li:hover {
    color: #ff9900;
}

#user {
    background-color: #0f0f0f;
    color: rgb(224, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.blink {
    position: relative;
    padding-left: 20px;
}

.blink::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.video-container {
    display: flex;
    margin: 2vw;
    flex-wrap: wrap;
    justify-content: left;
    border: 5px solid #ff9900;
    width: 70vw;
    height: 80vh;
    overflow: hidden;
}

.video-container video {
    width: 70vw;
    height: 80vh;
}

.video-details {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    padding-left: 2vw;
    width: 74vw;
    color: white;
}

.video-actions {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    gap: 15vw;
    margin-top: 2vh;
    /* padding: auto; */
    width: 70vw;
}

.video-actions div {
    border: 2px solid rgb(61, 60, 60);
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.video-actions div:hover {
    animation: rainbow-border 1.8s infinite;
}

@keyframes rainbow-border {
    0% {
        border-color: red;
    }

    14% {
        border-color: orange;
    }

    28% {
        border-color: yellow;
    }

    42% {
        border-color: green;
    }

    57% {
        border-color: blue;
    }

    71% {
        border-color: indigo;
    }

    85% {
        border-color: violet;
    }

    100% {
        border-color: red;
    }
}

.video-actions div i {
    cursor: pointer;
    margin: 0 0 0 10px;
    font-size: 25px;
}

.video-actions span {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}